@using MyRecipes.Common
@model MyRecipes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <hr />
    <div class="col md-8 offset-md-1">
        <div class="row">
    @foreach (var recipe in Model.RandomRecipes)
   {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@recipe.ImageUrl" width="150" height="150" alt="Generic placeholder image">
            <div class="card-body">
                <h5 class="card-title">@recipe.Name</h5>
                <p class="card-text">@recipe.CategoryName</p>
                    <a asp-controller="Recipes" asp-action="SingleRecipe" asp-route-id="@recipe.Id" class="btn btn-primary">Go to recipe</a>
            </div>
        </div>
    }
        </div>
    </div>
    <hr />
    <p>We have:</p>
    <div class="col-md-4 offset-md-4">
    <ul class="list-group-item">
        <li class="list-group-item bg-primary">Recipes: @Model.RecipesCount</li>
        <li class="list-group-item bg-secondary">Categories: @Model.CategoriesCount</li>
        <li class="list-group-item bg-primary">Ingredients: @Model.IngredientsCount</li>
        <li class="list-group-item bg-secondary">Images: @Model.ImagesCount</li>
    </ul>
    </div>
</div>
